#Parallax-content {
   background-image: url('../images/ciudad_etb_montaje.jpg');
   background-size: 3223px;
   height: 100vh;
   background-repeat: no-repeat;
}
body{
   overflow: hidden;
}
.items{
   width: 3223px;
   height: 100vh;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 3;
}
.item-sem{
   width: 3223px;
   height: 100vh;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 2;
}
.item-1 {
   position: absolute;
   bottom: 0;
   left: -10px;
}
.item-2 {
   position: absolute;
   top: 20px;
   left: 540px;
   cursor: pointer;
}
.item-3{
   position: absolute;
   top: 110px;
   left: 990px;
   cursor: pointer;
}
.item-4{
   position: absolute;
   bottom: 0;
   left: 990px;
}
.item-5{
   position: absolute;
   top: 380px;
   left: 1580px;
   cursor: pointer;
}
.item-6{
   position: absolute;
   top: 340px;
   right: 435px;
   cursor: pointer;
}
.item-7{
   position: absolute;
   bottom: 0;
   right: 360px;
}
.semaforo{
   position: absolute;
   left: 869px;
   top: 523px;
   width: 50px;
}
.ruso{
   position: absolute;
   left: 12.05%;
   top: 601px;
}
.corazon_1{
   position: absolute;
   left: 15.22%;
   top: 600px;
}
.corazon_2{
   position: absolute;
   left: 30.8%;
   top: 592px;
}
.carro{
   position: absolute;
   left: 18%;
   top: 665px;
}
.ring{
   position: absolute;
   left: 40.97%;
   top: 529px;
}
.carro_2{
   position: absolute;
   right: 9.4%;
   bottom: 104px;
}
.puerta{
   position: absolute;
   left: 56.54%;
   top: 517px;
}
@media screen and (max-width: 400px){
   .item-1{
      width: 12%;
   }
}
@media screen and (max-width: 1440px){
   .item-1{
      width: 16%;
   }
   .item-2, .item-3, .item-5, .item-6{
      width: 7%;
   }
   .item-3{
      top: 30px;
   }
   .item-6{
      top: 250px;
   }
   .item-4{
      width: 15%;
   }
   .item-7{
      width: 10%;
   }
   .ruso{
      top:459px;
   }
   .corazon_1 {
      top: 458px;
   }
   .carro {
      top: 523px;
   }
   .semaforo {
      top: 382px;
   }  
   .corazon_2 {
      top: 450px;
   }
   .ring {
      top: 387px;
   }
   .puerta {
      top: 375px;
   }
   .carro_2 {
      bottom: -38px;
   }
}