#Parallax-content {
   background-image: url('../images/ciudad_etb_montaje.jpg');
   background-size: 3223px;
   height: 100vh;
   background-repeat: no-repeat;
}
body{
   overflow: hidden;
}
.items{
   width: 3223px;
   height: 100vh;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 3;
}
.item-sem{
   width: 3223px;
   height: 100vh;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 2;
}
.item-1 {
   position: absolute;
   bottom: 0;
   left: -10px;
}
.item-2 {
   position: absolute;
   top: 20px;
   left: 540px;
   cursor: pointer;
}
.item-3{
   position: absolute;
   top: 110px;
   left: 990px;
   cursor: pointer;
}
.item-4{
   position: absolute;
   bottom: 0;
   left: 990px;
}
.item-5{
   position: absolute;
   top: 500px;
   left: 1580px;
   cursor: pointer;
}
.item-6{
   position: absolute;
   top: 340px;
   right: 435px;
   cursor: pointer;
}
.item-7{
   position: absolute;
   bottom: 0;
   right: 360px;
}
.semaforo{
   position: absolute;
   left: 869px;
   top: 523px;
   width: 50px;
}
.ruso{
   position: absolute;
   left: 12.05%;
   top: 601px;
}
.corazon_1{
   position: absolute;
   left: 15.22%;
   top: 600px;
}
.corazon_2{
   position: absolute;
   left: 30.8%;
   top: 592px;
}
.carro{
   position: absolute;
   left: 18%;
   top: 665px;
}
.ring{
   position: absolute;
   left: 40.97%;
   top: 529px;
}
.carro_2{
   position: absolute;
   right: 9.4%;
   bottom: 104px;
}
.puerta{
   position: absolute;
   left: 56.54%;
   top: 517px;
}
@media screen and (max-width: 400px){
   .item-1, .item-4{
      width: 12% !important;
   }
   .item-2{
      width: 5% !important;
      left: 620px !important;
   }
   .item-3{
      width: 5% !important;
      top: 40px !important;
      left: 1020px !important;
   }
   .item-5{
      top: 340px !important;
   }
   .item-7 {
      width: 8% !important;
   }
   .ruso {
      top: 425px !important;
   }
   .corazon_1 {
      top: 424px !important;
   }
   .carro {
      top: 489px !important;
   }
   .semaforo {
      top: 349px !important;
   }
   .corazon_2 {
      top: 416px !important;
   }
   .ring {
      top: 353px !important;
   }
   .puerta {
      top: 341px !important;
   }
   .carro_2 {
      bottom: -72px !important;
   }
}
@media screen and (max-width: 1440px){
   .item-1{
      width: 16%;
   }
   .item-2, .item-3, .item-5, .item-6{
      width: 7%;
   }
   .item-3{
      top: 30px;
   }
   .item-6{
      top: 250px;
   }
   .item-4{
      width: 15%;
   }
   .item-7{
      width: 10%;
   }
   .ruso{
      top:459px;
   }
   .corazon_1 {
      top: 458px;
   }
   .carro {
      top: 523px;
   }
   .semaforo {
      top: 382px;
   }  
   .corazon_2 {
      top: 450px;
   }
   .ring {
      top: 387px;
   }
   .puerta {
      top: 375px;
   }
   .carro_2 {
      bottom: -38px;
   }
}
@media screen and (max-height: 1024px){
   .ruso{
      top:587px !important;
   }
   .corazon_1 {
      top: 586px !important;
   }
   .carro {
      top: 651px !important;
   }
   .semaforo {
      top: 510px !important;
   }
   .corazon_2 {
      top: 578px !important;
   }
   .ring {
      top: 515px !important;
   }
   .puerta {
      top: 503px !important;
   }
   .carro_2 {
      bottom: 90px !important;
   }
}
@media screen and (max-height: 900px){
   .ruso {
      top: 574px !important;
   }
   .corazon_1 {
      top: 573px !important;
   }
   .carro {
      top: 638px !important;
   }
   .semaforo {
      top: 497px !important;
   }
   .corazon_2 {
      top: 565px !important;
   }
   .ring {
      top: 502px !important;
   }
   .puerta {
      top: 490px !important;
   }
   .carro_2 {
      bottom: 76px !important; 
   }
}
@media screen and (max-height: 768px){
   .ruso {
      top: 508px !important;
   }
   .corazon_1 {
      top: 507px !important;
   }
   .carro {
      top: 572px !important;
   }  
   .semaforo {
      top: 431px !important;
   }
   .corazon_2 {
      top: 499px !important;
   }
   .ring {
      top: 436px !important;
   }
   .puerta {
      top: 424px !important;
   }
   .carro_2 {
      bottom: 10px !important;
   }
}    